<div class="container" id="product-detail">
  <a class="return-link" href="/figure">
    <i class="fa-solid fa-chevron-left"></i>
    Return
  </a>
  <hr>
  <div class="row">
    <div class="col-md-7" id="product-info">
      <p class="product-title">
        {{figure.name}}
      </p>
      <p class="product-price">
        ${{figure.price}}
      </p>
      <p>
        Quantity: {{figure.quantity}}
      </p>
      <p>
        Category: {{figure.category}}
      </p>
      <h5>Description</h5>
      <p style="word-wrap: break-word;">
        {{figure.description}}
      </p>
      
      <div class="button-section">
        <a class="edit-button" href="/figure/edit/{{figure._id}}"><i class="fa-regular fa-pen-to-square"></i>Edit</a>
        <a class="delete-button" href="/figure/delete/{{figure._id}}"
          onclick="return confirm('Are you sure to delete this item?')"><i class="fa-solid fa-trash"></i>Delete</a>
      </div>
    </div>
    <div class="image-container col-md-5">
      <img src="{{figure.image}}" width="320px" style="object-fit: cover;">
    </div>
  </div>
</div>

<style>
  .product-title {
    word-wrap: break-word;
    font-size: 30px;
    font-weight: bold;
    height: 100px;
  }

  #product-detail {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
  }

  #product-info h5 {
    display: inline-block;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid rgb(170, 170, 170);
    font-weight: bold;
  }

  .return-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    border-left: 1px solid rgb(171, 171, 171);
  }

  .button-section {
    display: flex;
    justify-content: space-evenly;
  }

  .button-section a {
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none !important;
  }
</style>