<div class="container">
  <div class="row">
    {{!-- Categories --}}
    <div class="col-md-3" id="category-section">
      <div class="category-list">
        <strong>Category</strong>
        <ul>
          <li>
            <a class="category-link" href="/figure">Figure</a>
          </li>
          <li>
            <a class="category-link" href="/lego">Lego</a>
          </li>
        </ul>
      </div>
    </div>
    {{!-- Products list --}}
    <div class="col-md-9">
      <div class="row">
        <p>Figure</p>
        {{#each figure }}
        <div class="card product-container col-12 col-md-6 col-lg-3">
          {{!--Product image link --}}
          <a class="product-link" href="/figure/detail/{{_id}}">
            <img class="product-image" src="{{image}}">
            <div class="product-info">
              <p class="product-title">{{ name }}</p>
              <p class="product-price">${{ price }}</p>
            </div>
          </a>
          {{!-- Edit / Delete button --}}
          <div class="button-section">
            <a class="edit-button" href="/figure/edit/{{_id}}"><i class="fa-regular fa-pen-to-square"></i>Edit</a>
            <a class="delete-button" href="/figure/delete/{{_id}}" onclick="return confirm('Are you sure to delete this item?')"><i class="fa-solid fa-trash"></i>Delete</a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>